#onlyimg{
    padding: 10px;
    display: flex;
    gap: 15px;
}
#onlyimg>img{
    width: 32%;
    margin-left: 3px;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
#onlyimg>img:hover{
   transform: scale(1.2);
}
.shopby{
    padding: 10px;
}

.shopbyflex{
    display: flex;
    height: 160px;
    margin-top: 10px;
}
.shopbyflex>div{
    width: 12%;
    height: 100px;
    margin-left: 10px;
}
.shopbyflex>div>img{
    width: 80%;
    height: 90%;
    margin-left: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
    border-radius: 200px;
}
.shopby>h3{
   font-family: "sans-serif";
   font-size:16px;
   line-height:22.8571px;
   vertical-align:baseline;
   padding:10px 0px;
   font-weight:700;
   text-transform:uppercase;
   text-decoration:none solid rgb(80, 80, 80);
   text-align:start;
   margin-left: 15px;
 }
 .shopbyflex>div:hover {
    color: aqua;
}
.shopbyflex>div>h4{
   font-family: "sans-serif";
   font-size:13px;
   line-height:16px;
   vertical-align:baseline;
   letter-spacing:normal;
   font-weight:400;
   text-decoration:none solid rgb(81, 201, 166);
   text-align:center;
}



/* this is for sliding products */

.slideview{
    margin: auto;
    width: 95%;
    display: flex;
    height: 280px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
}
.slideviewall{
    width: 15%;
    padding: 30px;
    text-align: center;
    background-color: rgb(250,250,250);
}
.slideviewall img{
    border-radius: 100px;
    width: 70%;
}
.slideviewall h1{
    font-family:sans-serif;
    font-size:20px;
    line-height:28.5714px;
    margin:20px 0px;
    font-weight:400;
    text-align:center;
    vertical-align:baseline;
}
.slideviewall button{
    width: 150px;
    height: 25px;
    font-family:sans-serif;
    background-color: skyblue;
    color: white;
}
.slideproduct{
    display: flex;
    width: 82%;
    padding: 10px;
}
.slideproduct>div{
    padding: 5px;
    text-align: center;
    align-items: center;
    width: 20%;
}
.slideproduct>div>img{
    width: 90%;
}
.slideproduct>div>p {
    font-family:sans-serif;
    font-size:13px;
    line-height:16px;
    font-weight:400;
}
.slideproduct>div>p:hover {
    color: rgb(81, 201, 166);
}
.slideproductprice{
    font-family:sans-serif;
    color:rgb(183, 183, 183);
    font-size:15px;
    line-height:16px;
    text-decoration:line-through solid rgb(183, 183, 183);
    font-weight:400;
    vertical-align:bottom;
    text-align: start;
}
.slideproductpricegive{
    font-family:sans-serif;
        color:#505050;
        line-height:16px;
        font-weight:400;
        font-size:18px;
        vertical-align:bottom;
        margin:0px 10px 0px 0px;
        text-align: start;
}

.slideproductpricediscount{
    font-family:sans-serif;
    font-weight:400;
    color:rgb(255, 255, 255);
    background-color:rgb(81, 201, 166);
    font-size:12px;
    padding:1px 4px;
    line-height:17.1429px;
    vertical-align:bottom;
    text-align: start;
}

.slideproduct>button{
    height: 40px;
    margin-top: 100px;
    font-weight: 300px;
}