div {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* imageContainer */

.sellsBanner {
  height: 160px;
}
.salesBanner img {
  width: 100%;
}

.salesContainer {
  display: block;

  height: 420px;
}
/* leftBox */
#left {
  display: inline-block;

  width: 500px;
  height: 435px;
  margin-top: -22px;
  background-color: white;
  margin-left: 13%;
  border-radius: 1%;
  box-shadow: 1.8px 1.8px gray;
}

#formHeading {
  font-size: 24px;
  font-weight: 600;
  margin-left: 2%;
  color: rgb(80, 80, 80);
}

.salesForm input,
select {
  height: 34px;
  width: 205px;
}

.salesForm label {
  font-size: 12px;
  color: gray;
}
.salesForm {
  display: flex;
}

.leftForm {
  height: 265px;
  width: 235px;
  margin-left: 15px;
}

.rightForm {
  height: 265px;
  width: 235px;
  margin-left: 15px;
}

#salesButton {
  margin-left: 25%;
  margin-top: 6%;
  background-color: #51c9a6;
  color: white;
  font-size: 18px;
  padding: 10px 92px;
  border: none;
}
#right {
  display: inline-block;

  height: 365px;
  width: 413px;
  margin-left: 5%;
}

#salesBoldText {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: rgb(80, 80, 80);
}

#right p {
  font-size: 12px;
  line-height: 20px;
  color: rgb(80, 80, 80);
  font-weight: 400;
}
