body {
  background-color: whitesmoke;
  font-family: Roboto, sans-serif;
}
.offerContainer {
  margin: auto;
  display: flex;

  background-color: white;
  width: 100%;
}
.offerContainer > div {
  height: 133px;
  flex-basis: 533px;
  margin: 1%;
}
.offerImages {
  width: 100%;
}
.offerContainer2 {
  display: flex;
  margin: auto;
  background-color: white;
  width: 100%;
  height: 165px;

  justify-content: center;
}
.offerContainer2 > div {
  width: 90%;
}
#startConsult {
  font-size: larger;
  padding-top: 10px;
  font-weight: 500px;
  width: 100%;
  height: 40px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3px;
  background-color: white;
}
#consultImages {
  height: 70px;

  border: 1px solid gray;
  border-radius: 100%;
}

.innerBox {
  display: flex;
  padding-top: 20px;
}
#consultType {
  font-size: 25px;
  margin: auto;
  padding-left: 10px;
}
#typeTagline {
  width: 100%;
  padding-left: 3%;
}
#askbutton {
  background-color: white;
  color: green;
  width: 120px;
  height: 30px;
  border-radius: 100px;
}
#askbutton:hover {
  background-color: lightseagreen;
  color: white;
  border: none;
}

.blogContainer {
  background-color: white;
  height: 568px;
  width: 100%;
  margin: auto;
}
#blog {
  height: 63px;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  background-color: white;
  font-size: 28px;
  color: orange;
  text-align: center;
  padding-top: 1%;
}

.innerContainer {
  display: flex;
  justify-content: center;
}
.appleImage {
  margin: 5px;
  text-align: center;
  max-width: 35%;
  margin-left: 10%;
}
#imageBox {
  max-width: 90%;
}
.appleImage > p {
  font-size: 14px;
  color: green;
}
.appleImage > p:nth-child(3) {
  color: grey;
  font-size: 12px;
  max-width: 90%;
  margin-left: 4%;
}
.blogTopics {
  display: flex;
  flex-wrap: wrap;
  color: green;
  font-size: 12px;
  coloumn-gap: 1px;
}
.blogTopics > div {
  height: 243px;
  width: 100%;
}
#blogsImage {
  max-width: 90%;
}
.blogContent {
  max-width: 40%;
}
/*
.final {
  border: 1px solid grey;
}*/
.final > p {
  width: 90%;
  margin-top: 10px;
}
